<div class="span8">
  <ul class="all-post">
    <% @posts.each do |post| %>
        <li class="post">
          <h4 class="post-title"><%= link_to post.title, post.url %></h4>
          <div class="post-url"><%= link_to  post.url, post.url %></div>
          <div class="inner-details">
            <div class="author">
              <%= post.user.username %> publicou a <strong><%= time_ago_in_words post.created_at %></strong>
              <span class="separator">|</span>
              <% if post.comments.count >= 1%>
                <%= link_to 'Comentários', post_path(post) %>
              <% else %>
                <%= link_to post_path(post) do %>
                  Comentar
                <% end %>
              <% end %>
                
            </div>
            <div class="user-options">  
              <% if user_signed_in? %>
                <ul>
                  <li><%= link_to 'Editar', edit_post_path(post) %></li>
                  <li><%= link_to 'Deletar', post, method: :delete, data: { confirm: 'Você tem certeza? Esta ação é irreversível!' } %></li>
                </ul>
              <% else %>
              <% end %>
            </div>
        </li>
    <% end %>
  </ul>
</div>