<div class="span8">
  <!--<p id="notice"><%= notice %></p>-->

  <h4 class="post-title"><%= link_to @post.title, @post.url %></h4>
  <span class="post-url"><%= link_to  @post.url, @post.url %></span>
  <div class="inner-details">
    <div class="author"><%= @post.user.username %> publicou a <strong><%= time_ago_in_words @post.created_at %></strong></div>
    <div class="user-options">  
      <% if user_signed_in? %>
        <ul>
          <li><%= link_to 'Editar', edit_post_path(@post) %></li>
          <li><%= link_to 'Deletar', @post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      <% else %>
      <% end %>
    </div>
  </div> 
  <div class="comments-all">
    <%= render @post.comments %>
  </div>
  <div>
    <%= form_for([@post, @post.comments.build]) do |f| %>
      <p>
        <%= f.text_area :body, rows:3, class: "comment-txt-area", placeholder:"Escreva seu comentário aqui..." %>
      </p>
      <p>
        <%= f.submit "Comentar", class: "btn" %>
      </p>
      </p>
    <% end %>
  </div>
</div>
