<!DOCTYPE html>
<html>
<head>
  <title>Startupnews</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>
	
	<div class="container">

	<div id="flash">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</div>

		<%= yield %>
	</div>

	<%= render 'layouts/footer' %>

</body>
</html>
