<!DOCTYPE html>
<html>
<head>
  <title>StartupNews</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>
	
	<div class="container">
		<div class="row-fluid">

			<% [:notice, :error, :alert].each do |level| %>
			  <% unless flash[level].blank? %>
			    <div data-alert="alert" class="alert alert-<%= level %> fade in">
			      <a class="close" data-dismiss="alert" href="#">&times;</a>
			      <%= content_tag :p, flash[level] %>
			    </div>
			  <% end %>
			<% end %>
			<div class="span8">
				<%= yield %>
			</div>
			
			<%= render 'layouts/sidebar' %>

		</div>

	</div>

	<%= render 'layouts/footer' %>

</body>
</html>
